<div class="container">
  <div class="PageTitle">
    <h2 class="PageTitle__text">予約一覧</h2>
  </div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <%= link_to(:new_schedule) do %>
        <button class="btn btn-primary nav-link active">新規作成</button>
      <% end %>
    </li>
  </ul>
</div>



<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="table-responsive TableResponsive">
  <table class="table Table">
    <thead>
      <th class="col">ID</th>
      <th class="col">タイトル</th>
      <th class="col">開始日</th>
      <th class="col">終了日</th>
      <th class="col">終日</th>
      <th class="col">更新日時</th>
      <th class="col"></th>
      <th class="col"></th>
      <th class="col"></th>
    </thead>

    <tbody>
      <% @schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.id %></td>
          <td><%= schedule.title %></td>
          <td><%= l schedule.start_date %></td>
          <td><%= l schedule.end_date %></td>
          <td>
            <% if schedule.all_day == true %>
              ○
            <% end%>
          </td>
          <td><%= l schedule.created_at, format: :short %></td>
          <td>
            <%= link_to(schedule) do %>
              <button class="btn btn-primary">詳細</button>
            <% end %>
          </td>
          <td>
            <%= link_to(edit_schedule_path(schedule)) do %>
              <button class="btn btn-primary">編集</button>
            <% end %>
          </td>
          <td>
            <!-- モーダルを開くボタン・リンク -->
            <a class="btn btn-primary" data-toggle="modal" data-target="#testModal">削除</a>
          </td>
        </tr>
        <!-- ボタン・リンククリック後に表示される画面の内容 -->
        <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">削除確認画面</h4>
                  </div>
                  <div class="modal-body">
                      <label>データを削除しますか？</label>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                      <button class="btn btn-default">
                        <%= link_to(schedule, method: :delete) do %>
                          <button class="btn btn-primary">削除</button>
                        <% end %>
                      </button>
                  </div>
              </div>
          </div>
        </div>
      <% end %>
    </tbody>
  </table>
  <div>
    <p>予約合計<span><%= @schedules.count %></span>件</p>
    <p>本日の日付<%= l @todays_date %></p>
  </div>
</div>