<div class="container">
  <div class="PageTitle">
    <h2 class="PageTitle__text">予約一覧</h2>
  </div>
</div>

<div class="table-responsive TableResponsive">
  <table class="table Table">
    <thead>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日時</th>
    </thead>

    <tbody>
      <% @schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.id %></td>
          <td><%= schedule.title %></td>
          <td><%= schedule.start_date %></td>
          <td><%= schedule.end_date %></td>
          <td><%= schedule.all_day %></td>
          <td><%= schedule.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
